body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #272727;
    padding: 20px 0;
    color: white;
}

.header_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header_container_link a{
    color: white;
    margin-left: 15px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.logo img {
    height: 60px;
}

.nav_container {
    background-color: #7c7b7b;
    padding: 10px 0;
}

.nav_div {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav_div a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}


.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.botao{
    display: flex;
    margin: 20px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
}

.botao:hover {
    background-color: #45a049;
}

.footer {
    background-color: #272727;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 14px;
    width: 100%;
}

